button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {border-radius: 12px;}

.button2 {background-color: #f44336;}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3 , 1fr);
  background-color: rgb(43, 42, 42);
  color: white;
  text-align: center;

}

.card img{
  display: block;
  max-width: 100%;

}
/* .header {
  overflow: hidden;
  background-color: #ccd9e2;
  padding: 20px 10px;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: auto;
  overflow: hidden;
  

} */




.card{
  text-align: center;
}

/* li a{
  display: block;
  text-align: right;
} */
img {
  display: block;
  object-fit: cover;
  
  filter: drop-shadow(0 0 5px blue);
  float: left;
  width:  500px;
  height: 800px;
}

.footer {
  background-color: rgb(99, 99, 96);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: aliceblue;
}

ul{
  list-style-type: none;
  background: rgb(26, 25, 25);
  margin-top: 0px;
  border-color:lightslategray 10px,10px,10px,10px;
  padding-left: 130px;
}

li{
  color: rgb(234, 222, 222);
  display: inline-block;
  width: 120px;
  line-height: 60px;
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  padding-right: 5px;
}

a:hover{
  background: rgb(215, 224, 214);
  color: rgb(2, 2, 2);
  border-radius: 40px;
}
.header-right {
  float: right;
}